<mat-card>
    <mat-tab-group>
      <!-- List Guru dan Murid Start -->
        <mat-tab label="List paket penginapan"> 
            <!-- Card Start -->
            <mat-card>    
                <mat-card-title class="title">
                    Daftar penginapan yang tersedia
                </mat-card-title>

                <table mat-table [dataSource]="accomodationList" multiTemplateDataRows class="mat-elevation-z8">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Nama </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="quota">
                        <th mat-header-cell *matHeaderCellDef> Kuota </th>
                        <td mat-cell *matCellDef="let element"> {{element.quota}} </td>
                    </ng-container>

                    <ng-container matColumnDef="pricePerNight">
                        <th mat-header-cell *matHeaderCellDef> Harga per malam </th>
                        <td mat-cell *matCellDef="let element"> {{element.pricePerNight}} </td>
                    </ng-container>

                    <ng-container matColumnDef="reservedQuota">
                        <th mat-header-cell *matHeaderCellDef> Jumlah dipesan </th>
                        <td mat-cell *matCellDef="let element"> {{element.reservedQuota}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-raised-button color="warn" (click)="deleteAccomodation(element._id)">
                                Hapus
                            </button>
                        </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                </table> 

            </mat-card>    
            <!-- Card End -->
        </mat-tab>
        <!-- Daftar Guru dan Murid End -->

        <!-- Daftar Guru Pendamping Start -->
        <mat-tab label="Tambah paket penginapan"> 
            <!-- Card Start -->
            <mat-card>
                <mat-card-title class="title">
                    Tambah Paket Penginapan
                </mat-card-title>

                <form [formGroup]="accomodation" (ngSubmit)="postAccomodation()">
                    <div class="form-container">
                        <mat-form-field>
                            <input class="input-form" formControlName="name" matInput placeholder="Nama paket" required>
                        </mat-form-field> 
                        <mat-form-field>
                            <input class="input-form" formControlName="quota" matInput placeholder="Kuota kamar" required>
                        </mat-form-field> 
                        <mat-form-field>
                            <input class="input-form" formControlName="pricePerNight" matInput placeholder="Harga per malam" required>
                        </mat-form-field>
                        <button mat-raised-button color="primary" type="submit">
                            Tambahkan Paket
                        </button>
                    </div>    
                </form>
          
            </mat-card>    
        <!-- Card End -->
        </mat-tab>
      <!-- Daftar Guru Pendamping End -->
    </mat-tab-group>
</mat-card>          