mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
    z-index: 0;
}
 
main {
    padding: 10px;
}

app-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.container {
    margin: 20px 20px;
}