<div class="container">
    <div class="sub-container">
        <table mat-table [dataSource]="schoolList" multiTemplateDataRows class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nama </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="registrationStatus">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.registrationStatus}} </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" colspan="2">
                    <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="contest_details-img"> 
                            <img [src]="element.img" alt="">
                        </div>
                        <div class="contest_details-name"> 
                            <p>Jumlah Anggota per Tim : {{element.memberPerTeam}} orang</p>
                            <p>Maksimum Kuota : {{element.maxTeam}} tim</p>
                            <p>Harga per Siswa : Rp.{{element.pricePerStudent}}</p>
                            <p>Tim yang telah terdaftar : {{element.registeredTeam}} tim</p>                                                                      
                        </div>
                        <div class="contest_details-button">
                            <button mat-raised-button color="basic" (click)="editContest(element)" style="margin-right: 10px;">{{element.registrationStatus === 'open' ? 'Tutup' : 'Buka'}}</button>
                            <button mat-raised-button color="warn" (click)="deleteContest(element._id)" >Hapus</button>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table> 
    </div>
    <div class="sub-container">
        <mat-card>Simple card</mat-card>
    </div>
</div>
    
            