<div class="container">
    <div class="sub-container min">
        <table mat-table [dataSource]="schoolList" multiTemplateDataRows class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nama Sekolah </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> No Telp </th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" colspan="2">
                    <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="contest_details-name"> 
                            <p>Alamat: {{element.address}}</p>
                            <p>Email: {{element.email}}</p>                                                              
                        </div>
                        <!-- <div class="contest_details-button">
                            <button mat-raised-button color="basic" (click)="editContest(element)" style="margin-right: 10px;">{{element.registrationStatus === 'open' ? 'Tutup' : 'Buka'}}</button>
                            <button mat-raised-button color="warn" (click)="deleteContest(element._id)" >Hapus</button>
                        </div> -->
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element"
                (click)="getStudentTeacher(element._id)"
                >
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table> 
    </div>
    <div class="sub-container">
        <mat-card>
                <mat-tab-group>
                    <!-- List Guru dan Murid Start -->
                        <mat-tab label="Daftar siswa"> 
                            <!-- Card Start -->
                            <mat-card>    
                
                                <table mat-table [dataSource]="studentList" multiTemplateDataRows class="mat-elevation-z8">
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef> Nama </th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>
                
                                    <ng-container matColumnDef="phone">
                                        <th mat-header-cell *matHeaderCellDef> Telepon </th>
                                        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="email">
                                        <th mat-header-cell *matHeaderCellDef> Email </th>
                                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                                    </ng-container>
                            
                                    <tr mat-header-row *matHeaderRowDef="studentCol"></tr>
                                    <tr mat-row *matRowDef="let row; columns: studentCol"></tr>
                                </table> 
                
                            </mat-card>    
                            <!-- Card End -->
                        </mat-tab>
                        <!-- Daftar Guru dan Murid End -->
                
                        <!-- Daftar Guru Pendamping Start -->
                        <mat-tab label="Daftar guru"> 
                            <!-- Card Start -->
                            <mat-card>
                                <table mat-table [dataSource]="teacherList" multiTemplateDataRows class="mat-elevation-z8">
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef> Nama </th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="NIP">
                                        <th mat-header-cell *matHeaderCellDef> NIP </th>
                                        <td mat-cell *matCellDef="let element"> {{element.NIP}} </td>
                                    </ng-container>
                
                                    <ng-container matColumnDef="phone">
                                        <th mat-header-cell *matHeaderCellDef> Telepon </th>
                                        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="email">
                                        <th mat-header-cell *matHeaderCellDef> Email </th>
                                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                                    </ng-container>
                            
                                    <tr mat-header-row *matHeaderRowDef="teacherCol"></tr>
                                    <tr mat-row *matRowDef="let row; columns: teacherCol"></tr>
                                </table> 
                            </mat-card>    
                        </mat-tab>
                        <mat-tab label="Daftar tagihan"> 
                            <!-- Card Start -->
                            <mat-card>
                                <table mat-table [dataSource]="billList" multiTemplateDataRows class="mat-elevation-z8">
                                    <ng-container matColumnDef="type">
                                        <th mat-header-cell *matHeaderCellDef> Tipe </th>
                                        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                                    </ng-container>
                
                                    <ng-container matColumnDef="VANumber">
                                        <th mat-header-cell *matHeaderCellDef> No VA </th>
                                        <td mat-cell *matCellDef="let element"> {{element.VANumber}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="registration">
                                        <th mat-header-cell *matHeaderCellDef> Daftar apa saja </th>
                                        <td mat-cell *matCellDef="let element"> {{element.registration.numberOfStudent}} siswa dan {{element.registration.numberOfTeacher}} guru </td>
                                    </ng-container>

                                    <ng-container matColumnDef="totalPrice">
                                        <th mat-header-cell *matHeaderCellDef> Total </th>
                                        <td mat-cell *matCellDef="let element"> Rp.{{element.totalPrice}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="payment">
                                        <th mat-header-cell *matHeaderCellDef> Status </th>
                                        <td mat-cell *matCellDef="let element"> {{element.payment.status}}</td>
                                    </ng-container>
                            
                                    <tr mat-header-row *matHeaderRowDef="billCol"></tr>
                                    <tr mat-row *matRowDef="let row; columns: billCol"></tr>
                                </table> 
                            </mat-card>    
                        </mat-tab>
                    </mat-tab-group>
        </mat-card>
    </div>
</div>
    
            